<ion-content>
  <div style="text-align: center; margin-top: 4rem;">
    <img src="../../../assets/icon/favicon.png" />
  </div>
  <div style="margin: 2rem;">
    <ion-item>
      <ion-input
        name="username"
        [(ngModel)]="username"
        type="text"
        placeholder="username"
      ></ion-input>
    </ion-item>
    <div style="margin-top: 10px;">
      <ion-button (click)="recover()">recover</ion-button>
      <ion-button (click)="cancel()">back</ion-button>
    </div>
  </div>
</ion-content>
